body {
	font-family: 'Roboto','Open Sans',sans-serif,helvetica;
	line-height: 1.5;
	background-color: #fafafa;
	color: #3c3c3b;
}
.jumbotron {
background:  linear-gradient(
  rgba(0,0,0,0.85), 
  rgba(0,0,0, 0.85)
  ),url("../images/rain.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  height: 600px;
	  margin-bottom: 0;
}
.slider img {
	width: 100%;
	height: 600px;
}
/****************
Navigation
*****************/
.navbar-default {
	background-color: #fff;
	border-radius: 0;
	border: none;
	box-shadow: 0 0px 1px rgba(0,0,0,0.1);
}
.navbar ul img {
	width: 100px;
}
.navbar ul li{
	display: inline-block;
	font-size: 1.3em;
	margin: 0 5px;
	
}
.navbar ul {
	text-align: center;
	padding: 10px 0;
}
/****************
Colors
*****************/
hr {
	border-color: #ccc;
}
/****************
Typography
*****************/
.quick-stream-title-date, .quick-stream-title-date-less,.quick-stream-icon, .main-stream-time-date h4 {
	display: inline-block;
}
.main-stream-time-date h4:nth-child(2) {
	float: right;
}
.main-stream .main-stream-start-text p{
	margin: 30px 0;
	font-size: 1.1em;
	color: #646464;
}
.quick-stream-title-date-less h4 {
	font-size: 1em;
	font-weight: 600;
}
.quick-stream-title-date-less {
	position: relative;
	top: 7px;
	left: 25px;
}
.quick-stream-title-date h4 a:nth-child(1), .quick-stream-blog-less h4 a:nth-child(1) {
	font-size: 0.9em;
	font-weight: 800;
	color: black;
} 
.quick-stream-title-date h4:nth-child(2), .quick-stream-blog-less h4:nth-child(2) {
	font-size: 0.9em;
	font-weight: 300;
} 
.quick-stream-box .fa {
	font-size: 1.5em;
	padding: 15px 0;
	color: #646464;
}
.quick-stream-box .fa:hover {
	color: black;
}
.quick-stream-icon .fa {
	font-size: 1em;
}
.quick-stream-box p.bio {
	font-weight: 300;
		color: #646464;
}
.quick-stream h4 a:hover {
  color: #00aced;
	text-decoration: none;
}
/****************
Layouts
*****************/
.main-content {
	width: 90%;
	margin:auto;
}
.quick-stream {
	width: 85%;
}

.quick-stream-card{
	padding: 10px;
	background-color: #fff;
	border-bottom: solid 1px rgba(160, 160, 160, 0.2);
	border-right: solid 1px rgba(160, 160, 160, 0.2);
  border-left: solid 1px rgba(160, 160, 160, 0.2);
}
.top-posts img {
	border-top: solid 1px rgba(160, 160, 160, 0.2);
	border-right: solid 1px rgba(160, 160, 160, 0.2);
  border-left: solid 1px rgba(160, 160, 160, 0.2);
}

.dashed{
  border-bottom: dotted 1px rgba(160, 160, 160, 0.5);
	padding: 20px 0;
}
.main-stream-item {
}

.main-stream-time-date, .main-stream-start-text {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 0px;
}
.main-stream-start-text {
	border-right: solid 1px rgba(160, 160, 160, 0.2);
  border-left: solid 1px rgba(160, 160, 160, 0.2);
	border-bottom: solid 1px rgba(160, 160, 160, 0.2);
}
.main-stream-time-date {
	border-top: solid 1px rgba(160, 160, 160, 0.2);
	border-right: solid 1px rgba(160, 160, 160, 0.2);
  border-left: solid 1px rgba(160, 160, 160, 0.2);
	border-bottom: solid 1px rgba(160, 160, 160, 0.2);
}
 .quick-stream-icon {
	float: right;
	position: relative;
	top: 15px;
	font-size: 1.3em;
}
.main-stream-item {
	margin-bottom: 50px;
}
.article img {
	width: 100%;
	height: 300px;
}
.article {
	background-color: #fff;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.2);
	padding: 30px;
	z-index: 1000;
	margin-top: 40px;
}
.article h1 {
	font-weight: 500;
	margin-bottom: 20px;
}
.article-text p {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.1em;
	line-height: 2;
	font-weight: 400;
	margin: 50px 0;
}
/****************
Images
*****************/

.top-posts img {
  width: 100%;
	position: relative;
}
.main-stream-item, .top-posts  {
	overflow: hidden;
	width: 100%;
	margin: 30px 0;
}
.top-posts img, .main-stream-item img {
	transition: transform .2s ease;
}
.top-posts img:hover, .main-stream-item img:hover {
	transform: scale(1.05);
}
.main-stream-item img {
	width: 100%;
}
.quick-stream-blog-less img {
	width: 18.4372094493%;
	height: 70px;
}
.bio-box img {
	max-width: 35%;
}
/****************
Form
*****************/
.quick-stream-box form input{
	border-radius: 1px;
	box-shadow: none;
	height: 40px;
	border-color: rgba(160, 160, 160, 0.3);
}
.quick-stream-box form input:focus {
	box-shadow: none;
}
/****************
Buttons
*****************/
.btn-default {
	background-color: transparent;
	box-shadow: none;
	border: 1px solid rgba(160, 160, 160, 0.3);
	border-radius: 0;
	padding: 15px;
	width: 50%;
	font-weight: 800;
	font-size: 1.2em;
}
.btn-default:hover {
	border-color: #00aced;
	color: #00aced;
	background-color: transparent;
}
.quick-stream-box form button {
  width: 100%;
}
.main-stream .btn-default {
	margin: 30px 0
}