{% extends "templates/includes2.html" %}
{% block content %}



        <div class="col-sm-12">
            <div id="nav">
         <h2 style="color:#3BB9FF">About This Blog</h2>

                <br/>


      <div class="row">
            <div class="col-md-11 col-md-offset-1">

                <p align="justify">Here is where I chart my growth as an individual in all areas of life, i.e Physically, Spiritually, Emotionally and Mentally. I want to challenge myself to be better than I was yesterday so that I can be all that I am meant to be tomorrow.
                This is also a safe space for anyone who is looking to start their life journey (the one you get to design for yourself and live it on your own terms and screw everyone who feels otherwise), It is also for  those who are already on the path to living the life of their dreams,  those who logged off and would like to get back on. We can collectively help each other to be all that we can and more.

                Lastly but most importantly it is a blog where we can have fun, laugh at ourselves and take a breather when it all gets too much.
                Now that you are here.... Welcome!
                </p>

            </div>
        </div>
            </div>
        </div>






{% endblock %}

