{% extends "templates/includes2.html" %}
{% block content %}



        <div class="col-sm-12">
            <div id="nav">
         <h2 style="color:#3BB9FF">About This Blog</h2>

                <br/>



        <p  style="align:left;">Here is where I chart my growth as an individual in all areas of life, i.e Physically, Spiritually,

        Emotionally and Mentally. I want to challenge myself to be better than I was yesterday so that I

        can be all that I am meant to be tomorrow.</p><hr>



        <p>This is also a safe space for anyone who is looking to start their life  journey (the one you get to

        design for yourself and live it on your own terms and screw everyone who feels otherwise), or

        those who are already on it or for those who logged off and would like to get back on, we can

        collectively help each other to be all that we can and more.</p><hr>

       <p> Lastly but most importantly it is a blog where we can have fun, laugh at ourselves and take a

        breather when it all gets too much.<hr>

        Now that you are here.... Welcome!

      </p>
            </div>
        </div>


<div>

</div>





{% endblock %}

