<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Muthoni Thrives</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/new-styles.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,600' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  	<!--[if lt IE 9]>
  	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  	<![endif]-->
 </head>
 <body>
 	<!-- Navigation -->
 	<nav class="navbar navbar-default">
 		<div class="container-fluid">
 			<ul class="nav navbar-left">
 				<li>About</li>
 				<li>Contacts</li>
 			</ul>
 		</div>
 	</nav>
 	<!-- <div class="jumbotron">
 		<div class="container">
 			<div class="slider">
 				<img src="static/images/beach.jpg" alt="blog-image-slider">
 			</div>
 		</div>
 	</div> -->
 	<!-- Quick Info -->
 	<div class="main-content">
 		<div class="container-fluid">
 			<div class="row">
 				<div class="col-sm-8 pull-right">
	 				<div class="article">
	 					<div class="article-title">
	 						<h1>About This Blog</h1>
	 					</div>
	 					<div class="article-text">
	 						<p>Here is where I chart my growth as an individual in all areas of life, i.e Physically, Spiritually, Emotionally and Mentally. I want to challenge myself to be better than I was yesterday so that I can be all that I am meant to be tomorrow. This is also a safe space for anyone who is looking to start their life journey (the one you get to design for yourself and live it on your own terms and screw everyone who feels otherwise), It is also for those who are already on the path to living the life of their dreams, those who logged off and would like to get back on. We can collectively help each other to be all that we can and more. Lastly but most importantly it is a blog where we can have fun, laugh at ourselves and take a breather when it all gets too much. Now that you are here.... Welcome!
							</p>
						</div>			
	 					<div class="article-share"></div>
	 				</div>
	 			</div>
 				<div class="col-sm-4 pull-left">
 					<div class="quick-stream">
 						<div class="quick-stream-box bio-box dashed">
 								<img src="static/images/logo-2.svg" alt="logo">
 								<h3>Muthoni Thrives</h3>
 								<p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora asperiores eligendi necessitatibus, rerum quae adipisci doloribus similique, fuga facere consequuntur cum voluptas placeat voluptates pariatur. Impedit odio nam possimus ipsam.</p>
  						</div>
 						<div class="quick-stream-box top-posts">
 							<a href="#">
 								<img src="static/images/pic04.jpg" alt="bolg post image">
 							</a>
 							<div class="quick-stream-card">
 								<div class="quick-stream-title-date">
 									<h4><a href="#">Title</a></h4>
 									<h4>Date</h4>
 								</div>
 								<div class="quick-stream-icon">
 									<i class="fa fa-fire" aria-hidden="true"></i>
 								</div>
 							</div>
 						</div>
 						<div class="quick-stream-box top-posts dashed">
 							<a href="#">
 								<img src="static/images/pic04.jpg" alt="bolg post image">
 							</a>
 							<div class="quick-stream-card">
 								<div class="quick-stream-title-date">
 									<h4><a href="#">Title</a></h4>
 									<h4>Date</h4>
 								</div>
 								<div class="quick-stream-icon">
 									<i class="fa fa-fire" aria-hidden="true"></i>
 								</div>
 							</div>
 						</div>
 						
 						<div class="quick-stream-box ">
 							<div class="quick-stream-blog-less">	
 								<a href="#">
 									<img src="static/images/rocke.jpeg" alt="bolg post image">
 								</a>	
 								<div class="quick-stream-title-date-less">
 									<h4><a href="#">Title</a></h4>
 									<h4>Date</h4>
 								</div>
 							</div>
 						</div>
 						
 						<div class="quick-stream-box dashed">
 							<div class="quick-stream-blog-less">	
 								<a href="#">
 									<img src="static/images/rocke.jpeg" alt="bolg post image">
 								</a>	
 								<div class="quick-stream-title-date-less">
 									<h4><a href="#">Title</a></h4>
 									<h4>Date</h4>
 								</div>
 							</div>
 						</div>
 						<div class="quick-stream-box">
 							<div class="quick-stream-title">
 								<h3>Newsletter</h3>
 							</div>
 							<form action="" class="form dashed" >
 								<div class="form-group">
 									<input type="text" class="form-control" placeholder="Names">
 								</div>
 								<div class="form-group">
 									<input type="email" class="form-control" placeholder="Email">
 								</div>
 								<button type="button" class="btn-default btn-lg">Subscribe</button>
 							</form>
 							<div class="social-icons">
 								<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
		 						<a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
	 						</div>
  						</div>

 						 
 					</div>
 				</div>
 				<!-- Main Stream -->
 				
	 		</div>
	 	</div>
	 </div>			
 </body>
 </html>