

        <!-- CSS INCLUDE -->

        <link rel="stylesheet" type="text/css" id="theme" href="static/css/theme-default.css"/>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/my-styles.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>
        <!-- EOF CSS INCLUDE -->
<style>
        #formdiv {
                text-align:left;
            }

            </style>
    </head>
    <body>


    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="static/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="static/js/plugins/bootstrap/bootstrap.min.js"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src='static/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

        <script type="text/javascript" src="static/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        

        <script type="text/javascript" src="static/js/plugins.js"></script>
        <script type="text/javascript" src="static/js/actions.js"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->



    </body>


</html>






